.modalTrigger{
    width: 3em;
    height: 3em;
    cursor: pointer;
    padding: .5em;
    border: solid 2px;
    border-radius: 10px;
    margin-top: 1%;
    color: #3164AD;
    border-color: #3164AD;
    transition: ease-in;
    transition-duration: 100ms;
    margin-right: 1em;
}

.modalTrigger:hover{
    background-color: #3164AD;
    color: #f4f4f4;
}

@mixin baseBtn {
    border-radius: 10px;
    border: solid 1px;
    padding: 12px 20px;
    margin-right: 1em;
    border-color: #3174AD;
    cursor: pointer;
    margin-top: 2em;
}
.primary{
    @include baseBtn;
    background-color: #3174AD;
    color: #f4f4f4;
    transition: ease-in;
    transition-duration: 100ms;


}
.primary:hover{
    
        background-color: #2c6a9c
    
}
.secondary{
    @include baseBtn;
    border: none;
    transition: ease-in;
    transition-duration: 100ms;
}
.secondary:hover{
    background-color: #cfcece;
    
}

.calendarModule{
    @media  only screen and (min-width: 750px) {
        margin: 0 2em;
        
    }
    align-items: center;
    align-content: center;
    display: block;

}

.trash{
    transform:translateX(820%);
    cursor: pointer;
    border: none;
    color: #1e1e1e;

}